@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url(home.css);
@import url(about.css);
@import url(projects.css);
@import url(contact.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;;
}   

html {
    font-size: 62.5%;
}

span {
    color: var(--main-color);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


/* Header + Navbar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 1s;
}

.header.sticky {
    background: var(--second-bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.0rem;
    transition: .35s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Box Aniamtion */
.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.btn-box .btn.less {
    background: var(--bg-color);
    color: var(--main-color);
    border-color: var(--main-color);
  }
  
  .btn-box .btn.less:hover {
    background: var(--main-color);
    color: var(--bg-color);
  }

  .btn-box .btn:active,
.btn-box .btn.less:active {
  transform: scale(0.98);
}


/* Footer section */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    

.footer-text p {
    font-size: 1.5rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2 rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2rem;
    color: var(--bg-color);
}
.footer-iconTop a:hover i {
    color: var(--main-color);
}
}

/* Animation Reload */ 
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--second-bg-color);
    z-index: 98
}

.logo .animate, 
.navbar .animate, 
#menu-icon .animate,
.home.show-animate .animate,
.about.show-animate .animate,
.projects.show-animate .animate,
.contact.show-animate .animate {
    animation: showRight .5s ease forwards;
    animation-delay:  calc(.25s * var(--i));
}


/* Keyframes anaimation */
@keyframes homeBgText {
    0%, 10%, 100% {
        background-position: -33rem 0;
    }

    65%, 85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%, 10%, 100% {
        width: 0;
    }

    65%, 78%, 85% {
        width: 100%;
        opacity: 1;
    }

    75%, 81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

@keyframes slide {
    100% {
        top: -360px;
    }
}
@keyframes colorful {
    100% {
        filter: var(--main-color);
    }
}

/* ================ BREAKPOINTS  - changing the width ==================*/

/* big display */
@media(max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    .section {
        padding: 10rem 3% 2rem;
    }

    .contact {
        min-height: auto; 
    }

    .footer {
        padding: 2rem 3%;
    }
}

/*medium displays */
@media(max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 3%;  
        background-color: var(--main-color);
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
    }

    .navbar.active{
        left:0;
        transition-delay: 0s;

    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--second-bg-color);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home {
        margin-top: 10rem;
        flex-direction: column ;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .socials {
        position: relative;
        padding-top: 2.5em;
        bottom: 0;
    }

    .home-img img {
        width: 70vw;
        margin-top: 2rem;
    }
    
    .grad-image {
        display: none;
        border: transparent;
    }

    .education .education-row {
        max-width: 100%;
    }

    .skill-main {
        grid-template-columns: 1fr;
    }
    
    .testimonial-column {
        flex: 100%;
    }

    .swiper-slide img {
        max-height: 200px;
    }

    .image-content {
        height: 250px;
    }

    .card .name {
        font-size: 1.5rem;
        margin-top: -5rem;
    }
    
    .card .description {
        font-size: 1rem;
        max-width: 98%;
    }

    #search-bar {
        max-width: 80%;
    }

    .slider-container {
        height: auto;
    }
}

@media (max-width: 430px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    } 
}